#blog {
    display: block;
    padding-left: 15%;
    padding-top: 4%;
    padding-right: 15%;
    background-color: #f3f3f3;
}
#blog h1{
    text-align: center;
    font-size: 3vw;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#business-idea{
    width: 80%;
    display: block;
    margin: auto;
    padding-bottom: 2vw;
}
ul li {
    list-style-type: decimal;
    font-size: 2vw;
}

hr{
    height: 1vw;
    background-color: black;
}
#paragraph{
    width: 70%;
    font-size: 1.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 2vw;
}
dd {
    padding-right: 20%;
    padding-left: 20%;
    text-align: right;
    font-size: 1.3vw;
}